.horizontal-scroll
  align-items: start!important
.horizontal-scroll__wrapper
  vertical-align: top!important
.bloque-texto-a.color-primario
  background-color: #A0A603
.bloque-texto-a.color-primario
  &:before
    background-color: #E7E8E0
.container-slider
  background-image: url("../assets/curso/tema1-imagen19.jpg")
  background-repeat: no-repeat
  background-size: cover
.container-text-offset
  position: relative
  *
    position: relative
  &:before
   content: ''
   position: absolute
   top: 0
   bottom: 50%
   left: 0
   right: 60%
   background-color: #C9DAE9 

.tarjeta.color-primario
  background-color: #E5E8B8
  p
    color: $color-tipografia

.tarjeta.color-acento-botones
  background-color: #EAE9E0

.slyder-a__btn--sigt
  right: -45px
.slyder-a__btn--atrs
  left: -45px
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  opacity: 0.9

.container-text-offset-1
  position: relative
  *
    position: relative
  &:before
    content: ''
    position: absolute
    top: 0
    bottom: 70%
    left: 0
    right: 50%
    background-color: #C9DAE9

.tarjeta-avatar-b__img
  img
    height: 120px

.tarjeta.tarjeta--verde
  background-color: #E8E3C7